
<div class="introbox">

    <div class="intro-text">
        <p>this takes you to the archived pages.</p>


    </div>



</div>



There are <span><strong>{{remainingCount}}</strong></span>  in the Graphics queue
 <div class="bttn">
               <a href="#/Graphics_admin">Graphics job form</a>


</div>



There are <span><strong>{{remainingPower}}</strong></span>  in the PowerPoint queue
<div class="bttn">
               <a href="#/PowerPoint_admin">PowerPint job form</a>


</div>

There are <span><strong>{{remainingEvents}}</strong></span>  in the Events queue
<div class="bttn">
               <a href="#/Event_admin">Event job form</a>


</div>


There are <span><strong>{{remainingNaming}}</strong></span>  in the Naming queue
<div class="bttn">
               <a href="#/Naming_admin">Naming job form</a>


</div>



 <div class="bttn">
               <a href="#/Archive">Archived Jobs</a>


</div>