
<div class="introbox">

    <div class="intro-text">
        <p>this takes you to the Archived pages.</p>


    </div>



</div>



There are <span><strong>{{remainingCount}}</strong></span>  in the Graphics queue
 <div class="bttn">
               <a href="#/Graphics_archived">Graphics Archive</a>


</div>



There are <span><strong>{{remainingPower}}</strong></span>  in the PowerPoint queue
<div class="bttn">
               <a href="#/PowerPoint_archived">PowerPiont Archive</a>


</div>

There are <span><strong>{{remainingEvents}}</strong></span>  in the Events queue
<div class="bttn">
               <a href="#/Event_archived">Event Archive</a>


</div>


There are <span><strong>{{remainingNaming}}</strong></span>  in the Naming queue
<div class="bttn">
               <a href="#/Naming_archived">Naming Archive</a>


</div>
