<div class="intro-text">
    <h2 class="blue bold">The brand communication team</h2>


<p>welcome to the job submission board. please fill out all forms completly. If you hace multiple forms please zip the files to uplaid. Zipped files should not be larger than 20mb. If larger please use a service such as wetransfer.com</p>


<br />

   <div class="panel panel-default">
  <div class="panel-body">
    <p class="quote"> <b>Remember:</b><br />Lack of planning on your part does not constitute and emergency on [our] part</p>

</div>
   </div>


<br />

<div class="btn btn-default">
    <a href="#/Graphics_form">Graphics job form</a>
</div>
<div class="btn btn-default">
    <a href="#/PowerPoint_form">PowerPoint job form</a>
</div>

<div class="btn btn-default">
    <a href="#/Event_form">Event job form</a>
</div>
<div class="btn btn-default">
    <a href="#/Naming_form">Naming job form</a></div>