
<div>
    Admin window 33</div>








      <ul ui-sortable="sortableOptions" ng-model="todos">
  <li ng-repeat="item in events | orderBy:  'priority'" >
       {{item.job}} | {{item.due_date}} |
        <button type="button" class="btn btn-default"
                data-toggle="modal" data-target="#dialogTestDialog{{$index}}" ng-click="Clear()">details
        </button>


        <!-- Modal window -->

        <div class="modal " id="dialogTestDialog{{$index}}" tabindex="-1" role="dialog"
             aria-labelledby="executionOptionLabel"
             aria-hidden="true">
            <div class="modal-dialog pop">
                <div class="modal-content">
                    <p> Job  title:</span> {{item.job}}</p>
                    <div class="modal-body">
                        <p><strong>JSubmitter:</strong> </{{item.client}}</p>
                        <p><strong>Due date: </strong> <a href="#" editable-text="item.due_date"
                                                          onbeforesave="saveEdit(item)">{{ item.due_date || 'empty'
                            }}</a></p>

                        <p><strong>Brief: </strong> {{item.brief}}</p>
                        <p><strong>Comment: </strong> <a href="#" editable-text="item.comment"
                                                         onbeforesave="saveEdit(item)">{{item.comment}}</a></p>
                    </div>

                </div>
            </div>
        </div>

    </li>
</ul>




