<h3>Job queues</h3>

<div>
There are <span><strong>{{remainingCount}}</strong></span>  in the Graphics queue
<div class="btn btn-default"">
<a href="#/Graphics_queue">Graphics job queue</a>

</div>
</div>

<div>
There are <span><strong>{{remainingPower}}</strong></span>  in the PowerPoint queue
<div class="btn btn-default">
    <a href="#/PowerPoint_queue">PowerPint job queue</a>

</div>
</div>

<div>
There are <span><strong>{{remainingEvents}}</strong></span>  in the Events queue
<div class="btn btn-default">
    <a href="#/Event_queue">Event job queue</a>

</div>
</div>

<div>
There are <span><strong>{{remainingNaming}}</strong></span>  in the Naming queue
<div class="btn btn-default">
    <a href="#/Naming_queue">Naming job queue</a>

</div>
</div>
